body {
	padding-top: 70px;
}
.navbar-inverse {
	background: #2c3e50;
	color: white;
} 

.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-collapse li a{
	color: white;
}
.jumbotron {	
	color: #2c3e50 
}